body {
    background-color: rgba(74, 34, 12, 0.9); 
    font-family: 'Poppins', sans-serif; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

h1, p {
    color: white;
    margin-bottom: 20px;
}

h2, p {
    color: white;
    margin-bottom: 20px;
}

.card {
    background-color: rgba(147, 148, 171, 0.25);
    padding: 20px;
    border: 1px solid #FFA500; 
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(10px); 
    position: relative;
}

#kalkulator {
    background-color: moccasin;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#kodam {
    background-color: moccasin;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#balljjump {
    background-color: moccasin;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#snake {
    background-color: moccasin;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

#tebakangka {
    background-color: moccasin;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 200px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
}

button:hover {
    background-color: #4e4aa7;
    transform: translateY(-3px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.footer {
    color: white;
    font-weight: bold;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}